<!DOCTYPE html>

<html data-ng-app="serviceApp">
    <head lang="fr">
        <meta charset="utf-8"/>
        <title>TD2 - Angular</title>

        <!-- Bootstrap-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- AngularJS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

        <!-- app -->
        <script src="js/servicesApp.js"></script>
        <script src="js/servicesController.js"></script>

    </head>
    <body data-ng-controller="serviceCtrl as serviceCtrl">
        <div class="container">
            <h1 class="alert alert-info">Services</h1>


            <div>
                Choisissez les éléments à inclure.<br/>
                <ng-pluralize count="serviceCtrl.nbActifs"
                              when="{'0': 'Aucun service sélectionné.',
                             'one': '1 service sélectionné.',
                             'other': '{} services sélectionnés.'}">
                </ng-pluralize>
            </div>


            <!-- Listes des services -->
            <ul data-ng-repeat="service in serviceCtrl.services">
                <li ng-class="{
                    'alert alert-warning':service.active,
                    'alert data-alert alert-info alert-dismissible':!service.active,
                }" ng-click="serviceCtrl.toggleActive(service)">
                    {{ service.name }} : {{ service.price | currency }}
                </li>

            </ul>

            <hr/>

            <!-- Prix total -->
            <h3>Total : {{ serviceCtrl.total() | currency }}</h3>

            <!-- Code promo -->
            <div>
                <input type="checkbox" data-ng-model="serviceCtrl.promoEnabled" data-ng-change="serviceCtrl.checkPromo()"/>
                <input type="text" data-ng-model="serviceCtrl.promoCode" data-ng-change="serviceCtrl.checkPromo()"/>
            </div>

        </div>
    </body>
</html>