<!-- CONTACT ELEM -->
<h1>Ajouter un contact</h1>
<input type="text" placeholder="Entrez un nom..." data-ng-model="ctrl.tmpContact.nom">
<input type="text" placeholder="Prénom..." data-ng-model="ctrl.tmpContact.prenom">
<input type="text" placeholder="Adresse email..." data-ng-model="ctrl.tmpContact.email">
<input type="submit" value="Valider" class="btn btn-primary" data-ng-click="ctrl.add()">
<input type="button" value="Annuler" data-ng-click="ctrl.operation=0" class="btn btn-primary">
<!-- END CONTACT ELEM -->